<!DOCTYPE html>
<html>
	<head>
		<title>GSW IT SAP Consultant</title>
		<link rel="stylesheet" href='../../static/css/reset.css'>
		<link rel="stylesheet" href='../../static/css/pwa.css'>
		<link rel="manifest" href="../../static/json/manifest.json">
		<script src="../../static/js/idb-keyval.js"></script>
	</head>
<body>
	<header class="header">
		<h1 class="header__title">GSW IT Finance SAP Consultant</h1>
		<button id="butAbout" class="headerButton" aria-label="About"></button>
		<button id="butContact" class="headerButton" aria-label="Contact"></button>
<!--		<button id="butBlog" class="headerButton" aria-label="Blog"></button> -->
	</header>
	<nav>
		nav
	</nav>
	<main>
		main
		<section id="splash">
			splash
		</section>
		<section id="about">
			about
		</section>
		<section id="contact">
			contact
		</section>
	</main>
	<footer>
		footer
	</footer>	
</body>
<script type="text/javascript">
    document.getElementById("butAbout").onclick = function () {
        location.href = "#about";
    };
    document.getElementById("butContact").onclick = function () {
        location.href = "#contact";
    };
</script>
<script src="../../static/js/pwa_app.js" %}"></script>
</html>

