<!DOCTYPE html>
<html>
	<head>
		<title>GSW IT SAP Consultant</title>
		<link rel="stylesheet" href='../../static/css/reset.css'>
		<link rel="stylesheet" href='../../static/css/pwa.css'>
		<link rel="manifest" href="../../static/json/manifest.json">
	</head>
<body>
	<header class="header">
		<h1 class="header__title">GSW IT Finance SAP Consultant</h1>
		<button id="butAbout" class="headerButton" aria-labael="About"></button>
		<button id="butContact" class="headerButton" aria-labael="Contact"></button>
		<button id="butBlog" class="headerButton" aria-labael="Blog"></button>
	</header>
	<nav>
		nav
		<ul>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#blog">Blog</a></li>
		</ul>
	</nav>
	<main>
		main
		<section id="splash">
			splash
		</section>
		<section id="about">
			about
		</section>
		<section id="contact">
			contact
		</section>
	</main>
	<footer>
		footer
	</footer>	
</body>

</html>

